<div class="col-xl-12 col-lg-12 col-md-12 no-pad">
    <!--header starts  -->
  <div class="left-align col-lg-12 col-xl-12 col-md-12 qq no-pad fnt tt" role="button">
      <div (click)="bech()" class="aa left-align pad wh ">M<span style=color:orangered>W</span></div>
    <div class="bb  left-align "><span style="color:blue">my</span> <span style="color:green">Time</span></div>
    <div class="cc  left-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i>  Efforts</div>
    <div class="dd  left-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i>  Leave</div>
  <div class="ee  left-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i>  Attendance</div>
  <div class="ff  left-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i>  Shift And On call Management</div>
  <div class="gg  left-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i></div>
  </div>
  <!--header ends-->
  <!-- 2nd header starts -->
  <div class="left-align col-lg-12 col-xl-12 col-md-12 lq  fnt tt" role="button">
  <div class="ok hh wh left-align"> <input class="bw wh" style="direction: rtl" type="date" id="ok" name="ok"></div>
  <div class="right-align ii pq w">Day view</div>
  <div class=" jj right-align pq w">Week view<i class=" xx glyphicon glyphicon-thumbs-up"></i></div>
  <div class="  kk right-align pq w"><i class="glyphicon glyphicon-thumbs-up"></i>  Location</div>
  <div class=" ll right-align pq w"><i class=" yy glyphicon glyphicon-thumbs-up"></i>Insight</div>
  </div>
  <!-- 2nd header ends -->
  <!-- 1col table starts -->
  <div class="col-lg-12 col-xl-12 col-md-12  no-pad pq fnt ">
    <div class="wi1 left-align no-pad">
  <div class="th mn kl  wh">JANUARY-2021</div>
  <div class="td bbot ccol">Time in Campus</div>
  <div class="td bbot ccol">Time On Floor</div>
  <div class="td bbot ccol">Time Outside Floor</div>
  <div class="td bbot ccol">Total Efforts</div>
  <div class="col-xl-12 col-lg-12 col-md-12  no-pad    ">
  <div class="td bbot ccol1 tcol"><i class=" left-align glyphicon glyphicon-thumbs-up"></i><b>Project Works</b></div>
  <div class="td bbot ccol1"><b>AMG_TRAVEL</b></div>
  <div class="td bbot ccol1">Huddle Process</div>
  <div class="td bbot ccol1">Requirement</div>
  <div class="td bbot ccol1">Analysis</div>
  <div class="td bbot ccol1">Design</div>
  <div class="td bbot ccol1">Coding and Unit Testing </div>
  <div class="td bbot ccol1">Testing</div>
  <div class="td bbot ccol1">Techinical Review</div>
  <div class="td bbot ccol1">Techinical Documentation</div>
  <div class="td bbot ccol1">Project Management</div>
  <div class="td bbot ccol1">Rework</div>
  <div class="td bbot ccol1">Training</div>
  <div class="td bbot ccol1">Customer Reviews and Meetings</div>
  <div class="td bbot ccol1 tcol"><i class=" left-align glyphicon glyphicon-thumbs-up"></i><b>MEETING</b></div>
  <div class="td bbot ccol1 tcol"><i class=" left-align glyphicon glyphicon-thumbs-up"></i><b>NON PROJECT WORK</b></div>
  <div class="td bbot ccol1">Operation and Delivery</div>
  <div class="td bbot ccol1">Client Management</div>
  <div class="td bbot ccol1">people Management</div>
  <div class="td bbot ccol1">Reporting and Mis</div>
  <div class="td bbot ccol1">Learning and Development</div>
  <div class="td bbot ccol1 tcol"><i class=" left-align glyphicon glyphicon-thumbs-up"></i><b>UNASSIGNED PROJECT</b></div>
  <div class="td bbot ccol1"> <input type="text" placeholder="Search.."></div>
  <div class="td bbot ccol1 tcol vb"><i class=" left-align glyphicon glyphicon-thumbs-up"></i><b>EFFORTS OUTSIDE<BR> WIPRO OFFICE</b></div>
  </div>
  </div>
  <!-- 1st col end -->
  <!-- 2nd col start -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil  wh bbot1  bbot5">18 MON</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1 bbot4  kb ">
      <div class="td bbot4 kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  vv ">Attendence Data not<br> Available<br><button class="bttt">Apply Leave</button><br>or<br><button class="bttt">Apply OOD</button><br>or<br><button class="bttt">Edit Attendence</button></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      </div>
   
    
  </div>
  <!-- 2nd col end -->
  <!-- 3rd col starts -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil  wh  ">19 TUE</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 no-pad td1 bbot4 ss kb1 wi3 ">
    <div class="td bbot6  kb1 ">Wipro Location</div>
    <div class="td bbot6  kb1 rr ">o</div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1 jd" role="button">0.00</div></div>
    <div class="td bbot6  kb1 rr">rr</div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 "><div class="btt1" role="button">0.00</div></div>
    <div class="td bbot6  kb1 rr">rr</div>
    <div class="td bbot6  kb1 rr">rr</div>
    <div class="td vb  kb1 "><div class="btt1 jd" role="button">0.00</div></div>
    </div>
  </div>
  <!-- 3rd col end--> 
  <!-- 4th col starts -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil  wh  ">20 WED</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1 bbot4  kb ">
      <div class="td bbot4 kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  vv ">You cannot update Efforts for Fucture Dates </div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      </div>
    
  </div>
  <!-- 4th col end -->
  <!-- 5thcol start -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil  wh  ">21 THU</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1 bbot4  kb ">
      <div class="td bbot4 kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  vv ">You cannot update Efforts for Fucture Dates</div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      </div>
    
  </div>
  <!-- 5th col end -->
  <!-- 6th col starts -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil  wh  ">22 FRI</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="td bbot3 bi ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1 bbot4  kb ">
      <div class="td bbot4 kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  vv ">You cannot update Efforts for Fucture Dates</div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      <div class="td bbot4  kb "></div>
      </div>
    
  </div>
  <!-- 6thcol end -->
  <!-- 7col start -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil1  wh  ">23 SAT</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1   kb111 ">
      <div class="td bbot44 kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  vv11 ">You cannot update Efforts for Fucture Dates</div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      </div>
      </div>
  <!-- 7th col ends -->
  <!-- 8th start -->
  <div class="wi2 left-align no-pad bbot2">
    <div class="th bigil1  wh  ">24 SUN</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="td bbot33 bi11 ">0.00hrs</div>
    <div class="col-xl-12 col-lg-12 col-md-12 ss no-pad td1   kb111 ">
      <div class="td bbot44 kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  vv11 ">You cannot update Efforts for Fucture Dates</div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      <div class="td bbot44  kb111 "></div>
      </div>
      </div>
      <!-- 8th col end -->
  </div>
  
  </div> 
  <button (click)="bech()" class="pot">Submit</button>
